@use "./../../style/variables" as v;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  height: calc(100vh - 47.8px);
  padding: 6em 0;
  color: v.$secondary-color;
  text-align: center;

  .intro {
    margin: 0;
    width: 330px;
    font-size: 1.5rem;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
    font-family: v.$secondary-font-family;
    line-height: 1;
  }

  .hero-bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 170px;

    .headline {
      font-size: 1.3rem;
      color: v.$accent-color;
      line-height: 1.4;
    }

    .typed-cursor {
      font-size: 1.3rem;
      color: v.$accent-color;
    }

    .contact-icons {
      display: flex;
      justify-content: center;
      gap: 1em;
      margin-top: 1.8em;

      a {
        color: v.$secondary-color;
        text-decoration: none;

        .icon {
          transition: color 0.3s;
          cursor: pointer;

          &:hover {
            color: v.$accent-color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .hero {
    height: calc(100vh - 62px);

    .intro {
      width: 530px;
      font-size: 2.5rem;
    }

    h1 {
      font-size: 4rem;
    }

    .hero-bottom-wrapper {
      height: 200px;
      width: 530px;

      .headline {
        height: 130px;
        font-size: 1.6rem;
      }

      .typed-cursor {
        font-size: 1.6rem;
      }

      .contact-icons {
        margin-top: 3em;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .hero {
    .intro {
      width: fit-content;
      font-size: 1.2rem;
    }

    h1 {
      font-size: 3rem;
    }

    .hero-bottom-wrapper {
      width: 90vw;

      .headline {
        font-size: 1.1rem;
      }

      .typed-cursor {
        font-size: 1.1rem;
      }
    }
  }
}
