@use "./../../style/variables" as v;
@use "./../../style/mixins" as m;

.projects-container {
  margin: 0 auto;
  max-width: v.$container-width-max;

  h1 {
    @include m.h1-style;
  }

  .project-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.3em;
    flex-wrap: wrap;
    margin-bottom: 2em;

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      margin-bottom: 1.5em;
      padding: 1.1em;
      max-width: 350px;
      width: 100%;
      background-color: rgba(68, 79, 90, 0.15);

      p {
        margin: 0 0 0.8em 0;
        font-weight: 700;
        text-align: center;
      }

      img {
        box-shadow: v.$box-shadow-main;
        border-radius: 5px;
        width: clamp(10px, 100%, 350px);
        height: 13.5em;
        object-fit: cover;
      }

      .link-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.8em;
        width: 100%;

        a {
          transition: background-color 0.3s;
          box-shadow: v.$box-shadow-main;
          padding: 0.4em 2em;
          width: fit-content;
          background-color: v.$secondary-color;
          font-size: 0.8rem;
          color: v.$main-color;
          text-decoration: none;
          text-align: center;

          &:hover {
            background-color: v.$accent-color;
          }

          &:active {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
