@use "variables";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    font-family: variables.$main-font-family;
    #root {
      .App {
        margin: 0 auto;
        color: variables.$secondary-color;
      }
    }
  }
}
