* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    #root {
      .App {
        margin: 0 auto;
        color: rgb(68, 79, 90);
      }
    }
  }
}
